@font-face {
    font-family: 'Awesome';
    src: url(fonts/Awesome.ttf);
}
body {
    margin: auto;
    font-family: 'Awesome';
    background-color: #5f0101;
    text-align: center;
}
.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(images/valentines.gif);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -5;
}
.center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dropshadow1 {
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
}
.resize {
    width: 250px;
}
.font-resize {
    font-size: 40px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 8px black;
}
.button {
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    z-index: 10;
}
.button1 {
    transition: 0.5s;
    background-color: #04AA6D;
}
.button2 {
    transition: 0.5s;
    background-color: #ba0000;
}
.button1:hover {
    transition: 0.5s;
    background-color: #047e51;
}
.button2:hover {
    transition: 0.5s;
    background-color: #8b0404;
}
.license {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: white;
}
.license-img {
    position: relative;
    width: 25px;
    margin-right: 10px;
    filter: brightness(0) invert(100%);
    transition: 0.5s;
    cursor: pointer;
}
.license-img:hover {
    width: 15px;
    margin-right: 10px;
    filter: brightness(1) invert(0%);
    transition: 0.5s;
    cursor: pointer;
}
.license-center {
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
.audio-controls {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    user-select: none;
}
.DIVmute-ctrl {
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 5px;
    padding-right: 5px;
    height: 55px;
    cursor: pointer;
    user-select: none;
}
.mute-ctrl {
    width: 45px;
    user-select: none;
}
.unmute-ctrl {
    width: 45px;
    display: block;
    user-select: none;
}
.slider {
    display: flex;
    cursor: pointer;
}
.slider .level {
  appearance: none;
  width: 150px;
  height: 15px;
  background: #999;
  border-radius: 10px;
  overflow: hidden;
  cursor: inherit;
  transition: height 0.3s;
}
.slider .level::-webkit-slider-thumb {
  appearance: none;
  width: 0;
  height: 0;
  box-shadow: -200px 0 0 200px #ffffff;
}
.volume-slider-parent {
    height: 55px;
    display: flex;
}
.volume-slider {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 0px;
    margin: auto;
    transition: 0.5s;
}
.volume-slider-button {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: none;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.5s;
    height: 100%;
}
.volume-slider-button-arrow {
    user-select: none;
    width: 7px;
    margin-right: 5px;
    margin-left: 5px;
    transform: rotate(-90deg)
}
.num {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.volume-slider-parent:hover > .volume-slider {
    width: 200px;
    transition: 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.continueClass {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 15vw;
    background-color: rgba(65, 65, 65, 0.9);
    width: 100%;
    z-index: 9999;
    cursor: pointer;
}